<?xml version="1.0" encoding="utf-8"?>
<template>
  <name>dictTypeMapper</name>
  <filePath>src/main/resources/mappings/${datasourceName}/dict</filePath>
  <fileName>DictTypeMapper.xml</fileName>
  <content><![CDATA[
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "${packageName}.dao.dict.dictTypeMapper">

  <resultMap id="BaseResultMap" type="${packageName}.entity.${datasourceName}.DictTypePO">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="created_by" jdbcType="VARCHAR" property="createdBy" />
		<result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
		<result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
		<result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
		<result column="del_flag" jdbcType="CHAR" property="delFlag" />
	</resultMap>

	<sql id="Base_Column_List">
		id, code, name,created_by, created_at, updated_by, updated_at,del_flag
	</sql>

	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<select id="selectByExample" parameterType="${packageName}.entity.${datasourceName}.DictTypePOExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from dict_type
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

</mapper>
]]>
  </content>
</template>