<?xml version="1.0" encoding="utf-8"?>
<template>
  <name>RolePOMapper</name>
  <filePath>src/main/java/${packageName}/security/dao</filePath>
  <fileName>RolePOMapper.java</fileName>
  <content><![CDATA[
package ${packageName}.security.dao;

import java.util.List;
import java.util.Map;

import ${packageName}.security.entity.HotpotFunctionPO;
import ${packageName}.security.entity.HotpotOrganizationPO;
import ${packageName}.security.entity.HotpotRolePO;
import ${packageName}.security.entity.HotpotUserPO;

public interface RolePOMapper {
  
   List<HotpotFunctionPO> selectFunctionByRoleId(String roleId);
  
   List<HotpotUserPO> selectUsersByRoleId(String roleId);
  
   List<HotpotOrganizationPO> selectOrgsByRoleId(String roleId);
  
   int deleteRoleFunc(String roleId);
   
   int saveRoleFunc(Map<String, Object> param);
   
   int saveRoleParty(Map<String, Object> param);
   
   int deleteRoleParty(Map<String, Object> param);
   
   List<HotpotRolePO> searchRole(String _parameter);
   
   int insertRole(HotpotRolePO hotpotRolePO);
   
   int updateRole(HotpotRolePO hotpotRolePO);
   
   int deleteRole(String id);
}


]]>
  </content>
</template>