<?xml version="1.0" encoding="utf-8"?>
<template>
  <name>UserPOMapper</name>
  <filePath>src/main/java/${packageName}/security/dao</filePath>
  <fileName>UserPOMapper.java</fileName>
  <content><![CDATA[
package ${packageName}.security.dao;

import java.util.List;

import ${packageName}.security.entity.HotpotFunctionPO;

public interface UserPOMapper {

  /**
   * 用户获取菜单
   * @param partyIdList
   * @return
   */
  List<HotpotFunctionPO> selectFunctionByPartyIdList(List<String> partyIdList);
  
}

]]>
  </content>
</template>