<?xml version="1.0" encoding="utf-8"?>
<template>
  <name>HotpotOrgPOMapper</name>
  <filePath>src/main/resources/mappings/security</filePath>
  <fileName>HotpotOrgPOMapper.xml</fileName>
  <content><![CDATA[
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageName}.security.dao.OrgPOMapper">
	<resultMap id="BaseResultMap"
		type="${packageName}.security.entity.HotpotOrganizationPO">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="org_full_id" jdbcType="VARCHAR" property="orgFullId" />
		<result column="org_name" jdbcType="VARCHAR" property="orgName" />
		<result column="org_full_name" jdbcType="VARCHAR" property="orgFullName" />
		<result column="parent_id" jdbcType="VARCHAR" property="parentId" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
		<result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
		<result column="created_by" jdbcType="VARCHAR" property="createdBy" />
		<result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
		<result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
		<result column="sort" jdbcType="INTEGER" property="sort" />
	</resultMap>

	<sql id="Base_Column_List">
		id, org_full_id, org_name, org_full_name, parent_id,
		description,
		created_at, updated_at,
		created_by, updated_by, del_flag,
		sort
	</sql>

	<select id="selectAllOrg" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from hotpot_organization
		where del_flag = '0'
		order by sort
	</select>

	<select id="searchOrg" parameterType="${packageName}.security.entity.HotpotOrganizationPO" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from hotpot_organization
		where del_flag = '0'
		<if test="id != null and id != ''">
			and org_full_id like CONCAT('%',${r'#'}{id},'%')
		</if>
	</select>

	<insert id="saveOrg" parameterType="${packageName}.security.entity.HotpotOrganizationPO">
		insert into
		hotpot_organization (id, org_full_id, org_name,
		org_full_name,
		parent_id, description,
		created_at, updated_at, created_by,
		updated_by,
		del_flag, sort
		)
		values (${r'#'}{id,jdbcType=VARCHAR},
		${r'#'}{orgFullId,jdbcType=VARCHAR},
		${r'#'}{orgName,jdbcType=VARCHAR},
		${r'#'}{orgFullName,jdbcType=VARCHAR}, ${r'#'}{parentId,jdbcType=VARCHAR},
		${r'#'}{description,jdbcType=VARCHAR},
		${r'#'}{createdAt,jdbcType=TIMESTAMP},
		${r'#'}{updatedAt,jdbcType=TIMESTAMP},
		${r'#'}{createdBy,jdbcType=VARCHAR},
		${r'#'}{updatedBy,jdbcType=VARCHAR}, ${r'#'}{delFlag,jdbcType=VARCHAR},
		${r'#'}{sort,jdbcType=INTEGER}
		)
	</insert>

	<update id="updateOrg" parameterType="${packageName}.security.entity.HotpotOrganizationPO">
		update hotpot_organization
    <set>
      <if test="orgFullId != null">
        org_full_id = ${r'#'}{orgFullId,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        org_name = ${r'#'}{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgFullName != null">
        org_full_name = ${r'#'}{orgFullName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = ${r'#'}{parentId,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = ${r'#'}{description,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = ${r'#'}{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = ${r'#'}{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = ${r'#'}{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        updated_by = ${r'#'}{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = ${r'#'}{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = ${r'#'}{sort,jdbcType=INTEGER},
      </if>
    </set>
    where id = ${r'#'}{id,jdbcType=VARCHAR}
	</update>

	<delete id="deleteOrg" parameterType="java.lang.String">
		delete from
		hotpot_organization
		where id = ${r'#'}{id,jdbcType=VARCHAR}
	</delete>
	
	<select id="selectOrgUser" parameterType="java.lang.String"  resultType="${packageName}.security.entity.HotpotUserPO">
		select 
			id as id,
			user_name as userName,
			name as name,
			org_id as orgId,
			created_at as createdAt,
			updated_at as updatedAt,
			del_flag as delFlag
		from hotpot_user
		where
			org_id = ${r'#'}{orgId}
	</select>
</mapper>
]]>
  </content>
</template>